body {
    text-align: center;
    /* padding-left: 20%; */
}
.left{
    margin-right: 50%;
}
.left image {
    padding: -90%;
}
.right {
    display: inline;
    float: right;
}
.rtdvdv {
    padding-left: 6px;
}
.right img {
    padding-left: -3px;
}
p {
    font-size: 13px;
}
h2 {
    font-size: 40px;
    font-weight: bold;
}
.ips {
    font-size: 18px;
    padding-left: 16%;
    padding-right: 16%;
}
.van {
    float: left;
}